extends layout

block content
 h1(style="color: blue;padding:10px;margin:10px;font-size:25px")= title
 div.container-fluid(style="background-color:pink;")
   div.row
     - 
        let hat = results
     each hat,index in results
       div.col-sm-2(onclick=`buy(${index})`)
        p(style="color:green;") Hat Style: #{hat.hat_style}
        p(style="color:orange;") Size: #{hat.size}
        p(style="color:red;") Price: $#{hat.price.toFixed(2)}
      
 a(href="/") Back to index

 script.
  function buy(index) {
    alert(`You purchased item ${index}`);
  }